# Environment variables
.env
.env.local
.env.production

# Node / React
**/node_modules/
**/dist/
**/build/

# Java / Spring Boot
**/target/
*.class

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log